body{
    text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
}

.btn{

    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.red{
    background-color: #ff4d4d;
}
.yellow{
    background-color: #eff607;
}
.green{
    background-color:#2eec70;
}
.purple{
    background-color:#A020F0;
}

.flash{
    background-color: white;
}